@font-face {
  font-family: "iconfont";
  /* Project id 3217634 */
  src: url('../fonts/iconfont.woff2?t=1646277114742') format('woff2'),
    url('../fonts/iconfont.woff?t=1646277114742') format('woff'),
    url('../fonts/iconfont.ttf?t=1646277114742') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianmaobaoyouqia:before {
  content: "\e600";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-iconfont7tian:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-gouwuche:before {
  content: "\e899";
}

.icon-weixiu:before {
  content: "\e62e";
}

.icon-jiantouyou:before {
  content: "\e62d";
}